<!DOCTYPE html>
<!--

       _==/          i     i          \==_
     /XX/            |\___/|            \XX\
   /XXXX\            |XXXXX|            /XXXX\
  |XXXXXX\_         _XXXXXXX_         _/XXXXXX|
 XXXXXXXXXXXxxxxxxxXXXXXXXXXXXxxxxxxxXXXXXXXXXXX
|XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX|
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
|XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX|
 XXXXXX/^^^^"\XXXXXXXXXXXXXXXXXXXXX/^^^^^\XXXXXX
  |XXX|       \XXX/^^\XXXXX/^^\XXX/       |XXX|
    \XX\       \X/    \XXX/    \X/       /XX/
       "\       "      \X/      "      /"
       
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if page.redirect %}<meta http-equiv="refresh" content="0; URL={{ page.redirect }}">
    {% endif %}<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.authorname }}">
    {% if page.noindex %}<meta name="robots" content="noindex">{% endif %}
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ site.rss_url }}" />
    <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{ site.atom_url }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <link href="/libs/bootswatch-cosmo/5.1.3/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/cs.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://avatar.christianspecht.de/cs144.jpeg">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://avatar.christianspecht.de/cs114.jpeg">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://avatar.christianspecht.de/cs72.jpeg">
                    <link rel="apple-touch-icon-precomposed" href="https://avatar.christianspecht.de/cs57.jpeg">
                                   <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">{{ site.name }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects/"><i class="fa fa-wrench"></i> Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/archive/"><i class="fa fa-calendar"></i> Archive</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feed/"><i class="fa fa-rss"></i> Feed</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          {% if page.redirect %}<h3>Redirecting to <a href="{{ page.redirect }}">{{ page.redirect }}</a> ...</h3>{% endif %}
          {{ content }}
        </div>

        <!--<div class="row visible-phone spacer50"><hr></div>-->

        <div class="col-md-3">
          <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-body small">
              <h5 class="card-title">About me</h5>
              <p class="card-text">
                <img src="https://avatar.christianspecht.de/cs57.jpeg" class="rounded float-start me-2">
                <a href="/cv/">CV</a><br>
                <a href="/imprint/">Contact</a>
              </p>
              <p class="card-text">
              Developer for about {{ site.time | date: "%Y" | minus: 2003 }} years, living in Kerpen, Germany (near Cologne). Working as an in-house developer <i>(C#/T-SQL/VBA)</i> and DBA at <a href="http://www.weinor.de">weinor</a>, a mid-sized manufacturing company in Cologne.
              </p>
            </div>
          </div>

          <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">Projects</h5>
              <ul class="nav flex-column">
              {% assign projects = site.projects | where: 'sidebar', 1 | sort: 'name' %}
              {% for project in projects %}
                <li class="nav-item"><a class="nav-link" href="{{ project.site }}" data-bs-toggle="tooltip" data-bs-title="{{ project.desc }}" data-bs-placement="left">{{ project.name }}</a></li>
              {% endfor %}
              </ul>
            </div>
          </div>

          <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">Links</h5>
              <p class="card-text">
                <a href="https://stackoverflow.com/users/6884/" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="profile for Christian Specht at Stack Overflow, Q&A for professional and enthusiast programmers"><img src="https://stackoverflow.com/users/flair/6884.png" width="208" height="58" alt="profile for Christian Specht at Stack Overflow, Q&A for professional and enthusiast programmers" title="profile for Christian Specht at Stack Overflow, Q&A for professional and enthusiast programmers"/></a><br>
                <a href="https://www.openhub.net/accounts/131837?ref=Detailed" target="_blank" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Open Hub profile for Christian Specht"><img alt="Open Hub profile for Christian Specht" border="0" height="35" src="https://www.openhub.net/accounts/131837/widgets/account_detailed.gif" width="230" /></a><br>
                <a href="https://github.com/christianspecht" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="my GitHub profile"><i class="fa fa-3x fa-github"></i></a>
                <a href="https://gitlab.com/christianspecht" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="my GitLab profile"><i class="fa fa-3x fa-gitlab"></i></a>
                <a href="https://bitbucket.org/christianspecht" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="my Bitbucket profile"><i class="fa fa-3x fa-bitbucket"></i></a>
                <a href="https://www.linkedin.com/in/christian-specht/" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="my LinkedIn profile"><i class="fa fa-3x fa-linkedin"></i></a>
                <a href="https://www.xing.com/profile/Christian_Specht29/" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="my Xing profile"><i class="fa fa-3x fa-xing"></i></a>
              </p>
            </div>
          </div>
          
          <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">Recent Posts</h5>
              <ul class="nav flex-column">
              {% for post in site.posts limit: 5 %}
                <li class="nav-item"><a class="nav-link" href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
              </ul>
            </div>
          </div>
          
          <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">Archives</h5>
              <ul class="nav flex-column">
{% assign counter = 0 %}
{% for post in site.posts %}
{% assign thisyear = post.date | date: "%Y" %}{% assign prevyear = post.previous.date | date: "%Y" %}{% assign counter = counter | plus: 1 %}
{% if thisyear != prevyear %}
                  <li class="nav-item"><a class="nav-link" href="/archive/#{{ post.date | date:"%Y" }}">{{ thisyear }} ({{ counter }})</a></li>
{% assign counter = 0 %}
{% endif %}
{% endfor %}
              </ul>
            </div>
          </div>
          
          <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">Tags</h5>
              <ul class="nav flex-column">
{% capture tags %}
  {% for tag in site.tags %}
    {{ tag[0] }}#{{ tag[1].size}}
  {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}
{% for tag in sortedtags %}
    {% assign tagitems = tag | split: '#' %}
                  <li class="nav-item"><a class="nav-link" href="/tags/#{{ tagitems[0] }}">{{ tagitems[0] }} ({{ tagitems[1] }})</a></li>
{% endfor %}
              </ul>
            </div>
          </div>
        </div>

      <hr>

      <footer>
        <div class="row">
            <div class="col-md">
                <p>
                    Copyright 2012-{{ site.time | date: "%Y" }}
                    {{ site.authorname}}
                    <br/>
                    <a href="/imprint/">Imprint / Impressum</a> | <a href="/privacy/">Privacy Policy / Datenschutzerklärung</a>
                </p>
            </div>
            <div class="col-md">
                <p>
                    Powered by <a href="http://jekyllrb.com/">Jekyll</a>. Built with <a href="http://getbootstrap.com/">Bootstrap</a> &amp; <a href="http://bootswatch.com/cosmo/">Cosmo</a> theme.<br/>
                    Deployed from commit <a href="https://github.com/christianspecht/blog/commit/{{site.commitid}}">{{site.commitid | slice: 0, 7 }}</a> via build <a href="https://github.com/christianspecht/blog/actions/runs/{{site.buildnumber}}">{{site.buildnumber}}</a>.
                </p>
            </div>
        </div>
      </footer>

    </div><!--/.container-->

    <script src="/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
    </script>
    {% if site.environment == "prod" %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28992440-1']);
      _gaq.push (['_gat._anonymizeIp']);
      _gaq.push(['_gat._forceSSL']); 
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
  </body>
</html>
