<!DOCTYPE html>
<!--

       _==/          i     i          \==_
     /XX/            |\___/|            \XX\
   /XXXX\            |XXXXX|            /XXXX\
  |XXXXXX\_         _XXXXXXX_         _/XXXXXX|
 XXXXXXXXXXXxxxxxxxXXXXXXXXXXXxxxxxxxXXXXXXXXXXX
|XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX|
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
|XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX|
 XXXXXX/^^^^"\XXXXXXXXXXXXXXXXXXXXX/^^^^^\XXXXXX
  |XXX|       \XXX/^^\XXXXX/^^\XXX/       |XXX|
    \XX\       \X/    \XXX/    \X/       /XX/
       "\       "      \X/      "      /"
       
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if page.redirect %}<meta http-equiv="refresh" content="0; URL={{ page.redirect }}">
    {% endif %}<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.authorname }}">
    {% if page.noindex %}<meta name="robots" content="noindex">{% endif %}
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="{{ site.rss_url }}" />
    <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="{{ site.atom_url }}" />

    <!-- Le styles -->
    <link href="{% if site.environment == "prod" %}//maxcdn.bootstrapcdn.com/bootswatch/2.2.2/cosmo/bootstrap.min.css{% else %}/css/bootstrap.min.css{% endif %}" rel="stylesheet" integrity="sha384-hWFyiOm6yfLPdkBIx2OrXIu00ZfDQPcDs/h9BW3TiU5YJx8y3l3BWnRU1nHnHzT3" crossorigin="anonymous">
    <link href="{% if site.environment == "prod" %}//maxcdn.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap-responsive.min.css{% else %}/css/bootstrap-responsive.min.css{% endif %}" rel="stylesheet" integrity="sha384-DV4R8fXDhaIrZAo7O/9Lk1Mbw6AKv07qQAPZmHicyZhH0nMN988SzOkF+IcW/kh5" crossorigin="anonymous">
    <link href="/css/cs.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.gravatar_url }}144">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.gravatar_url }}114">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.gravatar_url }}72">
                    <link rel="apple-touch-icon-precomposed" href="{{ site.gravatar_url }}57">
                                   <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">{{ site.name }}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
              <li><a href="/projects/"><i class="icon-wrench icon-white"></i> Projects</a></li>
              <li><a href="/archive/"><i class="icon-calendar icon-white"></i> Archive</a></li>
              <li><a href="/feed/"><img src="/img/feed.png"> Feed</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span9">
          {% if page.redirect %}<h3>Redirecting to <a href="{{ page.redirect }}">{{ page.redirect }}</a> ...</h3>{% endif %}
          {{ content }}
        </div><!--/span-->

        <div class="row visible-phone spacer50"><hr></div>

        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">About me</li>
              <li class="media">
                <img class="pull-left media-object img-rounded" src="{{ site.gravatar_url }}60" />
                <div class="media-body">
                  <small>
                    <a href="https://stackoverflow.com/cv/christianspecht" target="_blank">CV</a><br>
                    <a href="/imprint/">Contact</a>
                  </small>
                </div>
              </li>
              <li>
                <small>
                  Developer for about {{ site.time | date: "%Y" | minus: 2003 }} years, living in Kerpen, Germany (near Cologne). Working as an in-house developer <i>(C#/T-SQL/VBA)</i> and DBA at <a href="http://www.weinor.de">weinor</a>, a mid-sized manufacturing company in Cologne.
                </small>
              </li>
            </ul>
          </div><!--/.well -->
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Projects</li>
              {% assign projects = site.data.projects | where: 'sidebar', 1 | sort: 'name' %}
              {% for project in projects %}
              <li><a href="{{ project.url }}" rel="tooltip" title="{{ project.desc }}">{{ project.name }}</a></li>
              {% endfor %}
            </ul>
          </div><!--/.well -->
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Links</li>
              <li><a href="https://stackoverflow.com/users/6884/" rel="tooltip" title="profile for Christian Specht at Stack Overflow, Q&A for professional and enthusiast programmers"><img src="https://stackoverflow.com/users/flair/6884.png" width="208" height="58" alt="profile for Christian Specht at Stack Overflow, Q&A for professional and enthusiast programmers" title="profile for Christian Specht at Stack Overflow, Q&A for professional and enthusiast programmers"/></a></li>
              <li><a href="https://bitbucket.org/christianspecht" rel="tooltip" title="my Bitbucket profile"><img src="/img/bitbucket.png" alt="my Bitbucket profile" title="my Bitbucket profile"/></a></li>
              <li><a href="https://github.com/christianspecht" rel="tooltip" title="my GitHub profile"><img src="/img/github.png" alt="my GitHub profile" title="my GitHub profile"/></a></li>
              <li><a href="https://www.openhub.net/accounts/131837?ref=Detailed" target="_blank" rel="tooltip" title="Open Hub profile for Christian Specht"><img alt="Open Hub profile for Christian Specht" border="0" height="35" src="https://www.openhub.net/accounts/131837/widgets/account_detailed.gif" width="230" /></a></li>
            </ul>
          </div><!--/.well -->
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Recent Posts</li>
              {% for post in site.posts limit: 5 %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div><!--/.well -->
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Archives</li>
                {% assign counter = 0 %}
                {% for post in site.posts %}
                  {% assign thisyear = post.date | date: "%Y" %}
                  {% assign prevyear = post.previous.date | date: "%Y" %}
                  {% assign counter = counter | plus: 1 %}
                  {% if thisyear != prevyear %}
                    <li><a href="/archive/#{{ post.date | date:"%Y" }}">{{ thisyear }} ({{ counter }})</a></li>
                    {% assign counter = 0 %}
                  {% endif %}
                {% endfor %}
            </ul>
          </div><!--/.well -->
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Tags</li>
                {% capture tags %}
                  {% for tag in site.tags %}
                    {{ tag[0] }}#{{ tag[1].size}}
                  {% endfor %}
                {% endcapture %}
                {% assign sortedtags = tags | split:' ' | sort %}
                {% for tag in sortedtags %}
                    {% assign tagitems = tag | split: '#' %}
                    <li><a href="/tags/#{{ tagitems[0] }}">{{ tagitems[0] }} ({{ tagitems[1] }})</a></li>
                {% endfor %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <div class="row">
            <div class="span8">
                <p>
                    Copyright 2012-{{ site.time | date: "%Y" }}
                    {{ site.authorname}}
                    <br/>
                    <a href="/imprint/">Imprint / Impressum und Datenschutzhinweis</a>
                </p>
            </div>
            <div class="span4">
                <p>
                    Powered by <a href="http://jekyllrb.com/">Jekyll</a>. Built with <a href="http://getbootstrap.com/">Bootstrap</a>.<br/>
                    <a href="http://bootswatch.com/cosmo/">Cosmo</a> theme by <a href="http://bootswatch.com">bootswatch.com</a>.
                </p>
            </div>
        </div>
      </footer>

    </div><!--/.container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% if site.environment == "prod" %}//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js{% else %}/js/jquery.min.js{% endif %}" integrity="sha384-BkWAgv8HDTu8UDLHg8FGQ4Amozh54n6GcgAPw+IrCejmyJcZhgbi6wL5wNh8Rmca" crossorigin="anonymous"></script>
    <script src="{% if site.environment == "prod" %}//maxcdn.bootstrapcdn.com/bootstrap/2.2.2/js/bootstrap.min.js{% else %}/js/bootstrap.min.js{% endif %}" integrity="sha384-e0kRLAUzZF/GpUULwXoniNHgUSfqSx0Xg5mdnYeD4W3PGOPxsX8j6pPeCGxWp0Ul" crossorigin="anonymous"></script>
    {% if site.environment == "prod" %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28992440-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
  </body>
</html>
