---
layout: default
---

<article>
  <div class="blog_post">
    <header>
      <div id="{{ page.id }}"></div>
      <h2 class="blog_post_title"><a href="{{ page.url }}" rel="bookmark" title="Permanent Link to {{ page.title }}">{{ page.title }}</a></h2>
      <p><small><span class="blog_post_date">{{ page.date | date: "%b %d %Y, %H:%M:%S" }}</span> | categories: 
        <span class="blog_post_categories">TODO</span>
      </small></p>
    </header>
    <div class="post_prose">
      {{ content }}
    </div>
  </div>
</article>
