/* all links */
a {
  text-decoration: none;
}
a:hover {
  color: #0066cc;
  text-decoration: underline;
}

/* jumbotron background */
.cs-jumbo {
  background-color: #eeeeee !important;
}

/* sidebar background */
.cs-sidebar {
  background-color: #eeeeee !important;
}

/* sidebar headlines */
.cs-sidebar .card-title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

/* sidebar nav links */
a.nav-link {
  color: var(--bs-body-color);
  text-decoration: none;
  padding: 3px 3px;
}
a.nav-link:hover {
  color: #ffffff;
  background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity)) !important;
  text-decoration: none;
}

h1 {
  font-size: 50px;
}

li {
  line-height: 20px;
}

.spacer25 {
  height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block;
}
.spacer50 {
  height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block;
}