---
layout: default
---
          <div class="hero-unit">
            My name is Christian Specht, and this is my personal site.<br>
            I'm a software developer and I use this site to feature <a href="/projects/">my projects</a> and (occasionally) <a href="/archive/">some blogging</a>.
          </div>

          <h3>Recent Posts:</h3>

          <div class="row">
{% for post in site.posts limit: 3 %}
{% include indexpostitem.html %}
{% endfor %}
          </div><!--/row-->
          <div class="row hidden-phone spacer50"></div>
          <div class="row">
{% for post in site.posts limit: 3 offset: 3 %}
{% include indexpostitem.html %}
{% endfor %}
          </div><!--/row-->
          <div class="row hidden-phone spacer50"></div>
          <div class="row">
{% for post in site.posts limit: 3 offset: 6 %}
{% include indexpostitem.html %}
{% endfor %}
          </div><!--/row-->